
@model MintSerivce.Models.ManualOrderModel
@{
    ViewBag.Title = "Index";
}
<div id="RORDERModal">
  

    @using (Html.BeginForm("ReturnedOrder", "ManualOrder", FormMethod.Post))
    {

        <div class="container" style="padding-top:20px;color:gray">
            <div>
                @if (TempData["ManualOrder"] != null)
                {
                    <h6 style="color:green;text-align:center">@TempData["ManualOrder"].ToString()</h6>
                }
                @if (TempData["OrderError"] != null)
                {
                    <h6 style="color:red;text-align:center">@TempData["OrderError"].ToString()</h6>
                }
            </div>
            <div class="col-sm-6" style="padding-top:20px;">
                <label>TIABOrderID:</label>
                @Html.EditorFor(model => model.TIABOrderID, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.TIABOrderID, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6" style="padding-top:20px;">
                <label>VerserOrderID:</label>
                @Html.EditorFor(model => model.VerserOrderID, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.VerserOrderID, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>FirstName:</label>
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>Surname:</label>
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Surname, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>Salutation:</label>
                @Html.EditorFor(model => model.Salutation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Salutation, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>AddressLine1:</label>
                @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddressLine1, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>Suburb:</label>
                @Html.EditorFor(model => model.Locality, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Locality, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>State:</label>
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.State, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>Postcode:</label>
                @Html.EditorFor(model => model.Postcode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Postcode, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>SKU:</label>
                @Html.EditorFor(model => model.SKU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SKU, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>ContactNumber:</label>
                @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactNumber, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>OrderType:</label>
                @Html.EditorFor(model => model.OrderType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderType, null, new { @class = "text-danger" })
            </div>
            @*<div class="col-sm-6">
                    <label>Replacement ?&nbsp;&nbsp;</label>
                    @Html.CheckBoxFor(model => model.IsReplacement, new { style = "transform: scale(2.0);-webkit-transform: scale(2.0);" } )

                </div>*@
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary">Complete Return Order</button>
            </div>
            <br />
        </div>
    }
</div>
