
@model MintSerivce.Models.ManualOrderModel
@{
    ViewBag.Title = "Replace To New Addess";
}
<div id="RORDERModal">  

    @using (Html.BeginForm("ReturnedOrder", "ManualOrder", FormMethod.Post))
    {

        <div class="container" style="padding-top:10px;color:gray">
            <div>
                @if (TempData["ManualOrder"] != null)
                {
                    <h6 style="color:green;text-align:center">@TempData["ManualOrder"].ToString()</h6>
                }
                @if (TempData["OrderError"] != null)
                {
                    <h6 style="color:red;text-align:center">@TempData["OrderError"].ToString()</h6>
                }
            </div>            
            <div class="col-sm-6">
                <label>FirstName:</label>
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>Surname:</label>
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Surname, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>Salutation:</label>
                @Html.EditorFor(model => model.Salutation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Salutation, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>AddressLine1:</label>
                @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddressLine1, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>Suburb:</label>
                @Html.EditorFor(model => model.Locality, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Locality, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>State:</label>
                @Html.DropDownListFor(model => model.State, new List<SelectListItem>
                 {
                             new SelectListItem{ Text="NSW", Value = "NSW" },
                             new SelectListItem{ Text="QLD", Value = "QLD" },
                             new SelectListItem{ Text="SA", Value = "SA" },
                             new SelectListItem{ Text="TAS", Value = "TAS" },
                             new SelectListItem{ Text="VIC", Value = "VIC" },
                             new SelectListItem{ Text="WA", Value = "WA" },
                             new SelectListItem{ Text="ACT", Value = "ACT" },
                             new SelectListItem{ Text="NT", Value = "NT" }
                 }, "States", new { @class = "form-control", style = "Height:40px" })
                @Html.ValidationMessageFor(model => model.State, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>Postcode:</label>
                @Html.EditorFor(model => model.Postcode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Postcode, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>SKU:</label>
                @Html.EditorFor(model => model.SKU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SKU, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>ContactNumber:</label>
                @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactNumber, null, new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label>OrderType:</label>
                @Html.DropDownListFor(model => model.OrderType, new List<SelectListItem>
              {
                          new SelectListItem{ Text="PhoneSim", Value = "PhoneSim" },
                          new SelectListItem{ Text="PhoneOnly", Value = "PhoneOnly" },
                          new SelectListItem{ Text="SimOnly", Value = "SimOnly" }
              }, "OrderType", new { @class = "form-control", style = "Height:40px" })
              @Html.ValidationMessageFor(model => model.OrderType, null, new { @class = "text-danger" })

            </div>         
            <div class="col-sm-6" style="padding-top:20px;">
                <button type="submit" class="btn btn-success">ADD ADDRESS</button>
            </div>
            
        </div>
    }
</div>
