

@{
    ViewBag.Title = "RETURENRDODERS";
}
@using System.Linq;
@model IEnumerable<MintSerivce.Models.OrderDispatchViewModel>
<div class="row" style="margin-left:-130px;margin-right:200px">
    <div style="padding-top:15px;width:131%;">
        @using (Html.BeginForm("ExportDispatchToExcel", "Home", FormMethod.Post))
        {
            <div align="right">
                <button type="submit" value="ExportToExcel" class="btn btn-default btn-sm" name="submitButton">
                    <span class="glyphicon glyphicon-export">Export</span>
                </button>
            </div>
        }
    </div>
</div>

     @*<div class="container" style="margin-left:2px;padding-top:30px">*@
<div class="row" style="margin-left:-140px;width:130%">
    @*class="pull-left"*@

    <div class="col-md-12" @*style="width:100%;margin-left:-140px;"*@>

        <table class="table table-bordered" table-responsive table-hover" id="mainTable" style="width:50%;">
            <thead style="background-color:#959ca1;color:white">
                <tr>
                    <th>ORDER</th>                   
                    <th>TIAB-ORD</th>
                    <th>RP-ORDER</th>
                    <th>SKU</th>
                    <th>RN-SSN</th>
                    <th>RP-SSN</th>
                    <th>RN-IMEI</th>
                    <th>RP-IMEI</th>
                    <th>CUSTOMER</th>                   
                    <th>ADDRESS</th>
                    <th>SUBURB</th>
                    <th>STATUS</th>
                    <th>DISPATCH</th>
                    <th>CONSIGNMENT</th>
                    <th>SHIPPED</th>                
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                    <a href="javascript:ShowOrderDetails('@item.VerserOrderID')">@item.VerserOrderID</a>
                    </td>               
                    <td>@Html.DisplayFor(modelItem => item.TIABOrderID)</td>
                    <td>
                        <a href="javascript:ShowOrderDetails('@item.VerserReturnOrderID')">@item.VerserReturnOrderID</a>
                    </td>                    
                    <td><a href="javascript:ShowSKU('@item.SKU')">@item.SKU</a></td>                
                    <td>@Html.DisplayFor(modelItem => item.ReturnSSN)</td>
                    <td>@Html.DisplayFor(modelItem => item.ReplacementSSN)</td>
                    <td>@Html.DisplayFor(modelItem => item.ReturnedIMEI)</td>
                    <td>@Html.DisplayFor(modelItem => item.ReplacementIMEI)</td>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>                   
                    <td>@Html.DisplayFor(modelItem => item.AddressLine1)</td>
                    <td>@Html.DisplayFor(modelItem => item.Locality)</td>
                    <td>@Html.DisplayFor(modelItem => item.OrderStatus)</td>
                    <td>@Html.DisplayFor(modelItem => item.OrderDispatchno)</td>
                    <td>@Html.DisplayFor(modelItem => item.Ordershipment_Consignment_Id)</td>
                    <td>@item.OrderShippedDate.Value.ToShortDateString()</td>               
                 </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@*</div>*@
<style>
    .row {
        margin-left: -130px;
        margin-right: 175px;
    }
</style>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

    <script src="~/Scripts/confirm.js"></script>
    <link href="~/Content/confirm.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {
        $('#mainTable').DataTable();
        $('.dataTables_filter').addClass('pull-right');
    });
    function ShowSKU(SKUId) {
        var sliderURL = '@Url.Action("ShowSKU", "ReturnedOrders")'
        $.ajax({
            type: "GET",
            url: sliderURL,
            data: { "SKUId": SKUId },
            success: function (data) {
              
                var $description = $('<div/>');
                $description.append('<b>SKU:</b>' + data.SKU).append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
                $description.append('<b>Make:</b>' + data.Make).append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
                $description.append('<b>Model:</b>' + data.Model).append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;').append('<br/>');
                $description.append('<b>Capacity:</b>' + data.Capacity).append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
                $description.append('<b>Colour:</b>' + data.Colour).append('&nbsp;&nbsp;&nbsp;&nbsp;');
              
        $.confirm({
            boxWidth: '400px',
            useBootstrap: false,
            title: 'SKU Details',
            content: $description,
            closeIcon: true,
            backgroundDismiss: true,
            buttons: {
                yes: { isHidden: true }
            }
        });

        }
        });
    }
   
    function ShowOrderDetails(orderId) {
        var sliderURL = '@Url.Action("GetOrderDetails", "Home")'
        $.ajax({
            type: "GET",
            url: sliderURL,
            data: { "orderId": orderId },
            success: function (data) {
              
                var $description = $('<div/>');
                $description.append($('<p/>').html('<b>TIABOrderID:</b>' + data.TIABOrderID));
                $description.append($('<p/>').html('<b>VerserOrderID:</b>' + data.VerserOrderID));
                $description.append($('<p/>').html('<b>SSN:</b>' + data.SSN));
                $description.append($('<p/>').html('<b>FirstName:</b>' + data.FirstName));               
                $description.append($('<p/>').html('<b>State:</b>' + data.State));
                $description.append($('<p/>').html('<b>AddressLine1:</b>' + data.AddressLine1));
                $description.append($('<p/>').html('<b>Locality:</b>' + data.Locality));
                $description.append($('<p/>').html('<b>Postcode:</b>' + data.Postcode));
                $description.append($('<p/>').html('<b>SKU:</b>' + data.SKU));
                $description.append($('<p/>').html('<b>ContactNumber:</b>' + data.ContactNumber));    
                $description.append($('<p/>').html('<b>OrderStatus:</b>' + data.OrderStatus));
                $description.append($('<p/>').html('<b>Dispatch:</b>' + data.OrderDispatchno));
                $description.append($('<p/>').html('<b>Consignment:</b>' + data.Ordershipment_Consignment_Id));
                //$description.append($('<p/>').html('<b>OrderDate:</b>' + data.OrderDate));
        $.confirm({
            boxWidth: '350px',
            useBootstrap: false,
            title: 'Order Details',
            content: $description,
            closeIcon: true,
            backgroundDismiss: true,
            buttons: {
                yes: { isHidden: true }
            }
        });

        }
        });
    }
</script>
    }
