


@{
    ViewBag.Title = "RETURENRDODERS";
}
@using System.Linq;
@model IEnumerable<MintSerivce.Models.OrderDispatchViewModel>
<div class="row" style="margin-left:-130px;margin-right:200px">
    <div style="padding-top:15px;width:131%;">
        @using (Html.BeginForm("ExportDispatchToExcel", "Home", FormMethod.Post))
        {
            <div align="right">
                <button type="submit" value="ExportToExcel" class="btn btn-default btn-sm" name="submitButton">
                    <span class="glyphicon glyphicon-export">Export</span>
                </button>
            </div>
        }
    </div>
</div>
@*<div class="container" style="margin-left:2px;padding-top:30px">*@
<div class="row" style="margin-left:-140px;width:130%">
    @*class="pull-left"*@

    <div class="col-md-12" @*style="width:100%;margin-left:-140px;"*@>

        <table class="table table-bordered" table-responsive table-hover" id="mainTable" style="width:50%;">
            <thead style="background-color:#959ca1;color:white">
                <tr>
                    <th>ORDER</th>
                    <th>JOB</th>
                    <th>TIABORDER</th>
                    <th>REPLACEORDER</th>
                    <th>SKU</th>
                    <th>RN-SSN</th>
                    <th>RP-SSN</th>
                    <th>RN-IMEI</th>
                    <th>RP-IMEI</th>
                    <th>CUSTOMER</th>
                    <th>SURNAME</th>
                    <th>ADDRESS</th>
                    <th>SUBURB</th>
                    <th>STATUS</th>
                    <th>DISPATCH</th>
                    <th>CONSIGNMENT</th>
                    <th>SHIPPED</th>
                    <th>LABEL</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Assets",new { SKU = item.SKU })">
                                @Html.DisplayFor(modelItem => item.VerserOrderID)
                            </a>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.JMS_JobNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.TIABOrderID)</td>
                        <td>@Html.DisplayFor(modelItem => item.VerserReturnOrderID)</td>
                        <td>@Html.DisplayFor(modelItem => item.SKU)</td>
                        <td>@Html.DisplayFor(modelItem => item.ReturnSSN)</td>
                        <td>@Html.DisplayFor(modelItem => item.ReplacementSSN)</td>
                        <td>@Html.DisplayFor(modelItem => item.ReturnedIMEI)</td>
                        <td>@Html.DisplayFor(modelItem => item.ReplacementIMEI)</td>
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                        <td>@Html.DisplayFor(modelItem => item.AddressLine1)</td>
                        <td>@Html.DisplayFor(modelItem => item.Locality)</td>
                        <td>@Html.DisplayFor(modelItem => item.OrderStatus)</td>
                        <td>@Html.DisplayFor(modelItem => item.OrderDispatchno)</td>
                        <td>@Html.DisplayFor(modelItem => item.Ordershipment_Consignment_Id)</td>
                        <td>@item.OrderShippedDate.Value.ToShortDateString()</td>
                        <td>
                            <a href="@item.OrderShipmentURL" target="_blank" class="btn-primary btn-sm">Print</a>
                        </td>
                        @*<td><input type="submit" value="Print" class="btn-primary btn-sm" /></td>*@

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@*</div>*@
<style>
    .row {
        margin-left: -130px;
        margin-right: 175px;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    <script src="~/Scripts/datatables.min.js"></script>

    <script type="text/javascript">
                $(document).ready(function () {
                    $('#mainTable').DataTable();
                    $('.dataTables_filter').addClass('pull-right');
                });
    </script>
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" rel="stylesheet">
