@using System.Linq;
@model IEnumerable<MintSerivce.Models.FilesModel>
@{
    ViewBag.Title = "Reports";
}


<table class="table table-bordered pull-left" id="FilesTable">
    <thead style="background-color: darkorange; color:white">
        <tr>
            <th>
                FileName
            </th>
            <th>
                FileSize
            </th>
            <th>
                FileType
            </th>
            <th>
                FileDate
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var _file in Model)
        {
            <tr>
                <td>@Html.ActionLink(_file.FileName, "DownloadFile", "Home", new { path = _file.FileFullPath, fileName = _file.FileName }, htmlAttributes: null)</td>
                <td>@_file.FileSize KB</td>
                <td>@_file.FileType</td>
                <td>@_file.FileDate</td>
            </tr>
        }

    </tbody>
</table>


<link href="~/Content/bootstrap-3.1.4.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<link href="~/Scripts/bootstrap-multiselect.css" rel="stylesheet" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css" rel="stylesheet">
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" rel="stylesheet">*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/datatables.min.js"></script>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#FilesTable').DataTable();
        $('.dataTables_filter').addClass('pull-right');
    });
</script>


