
@{
    ViewBag.Title = "DispatchedOrders";
}
@using System.Linq;
@model IEnumerable<MintSerivce.Models.SIMOrderModel>
<div class="row" style="margin-left:-70px;margin-right:100px">
    <div style="padding-top:15px;width:100%;">
        @using (Html.BeginForm("ExportSimToExcel", "Home", FormMethod.Post))
        {
            <div align="right">
                <button type="submit" value="ExportToExcel" class="btn btn-default btn-sm" name="submitButton">
                    <span class="glyphicon glyphicon-export">Export</span>
                </button>
            </div>
        }
    </div>
</div>
@*<div class="container" style="margin-left:2px;padding-top:30px">*@
<div class="row" style="margin-left:-140px;width:110%">
    @*class="pull-left"*@

    <div class="col-md-12" @*style="width:100%;margin-left:-140px;"*@>

        <table class="table table-bordered" table-responsive table-hover" id="mainTable" style="width:100%;">
            <thead style="background-color:#959ca1;color:white">
                <tr>
                    <th>Order</th>
                    <th>Job</th>
                    <th>TIABOrder</th>    
                    <th>Customer</th>
                    <th>SurName</th>
                    <th>Address</th>
                    <th>Suburb</th>
                    <th>State</th>
                    <th>Status</th>
                    <th>SIM</th>
                    <th>Consignment</th>
                    <th>ShippedDate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.VerserOrderID)</td>
                        <td>@Html.DisplayFor(modelItem => item.JMS_JobNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.TIABOrderID)</td>                     
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                        <td>@Html.DisplayFor(modelItem => item.AddressLine1)</td>
                        <td>@Html.DisplayFor(modelItem => item.Locality)</td>
                        <td>@Html.DisplayFor(modelItem => item.State)</td>
                        <td>@Html.DisplayFor(modelItem => item.OrderStatus)</td>      
                        <td>@Html.DisplayFor(modelItem => item.SIM)</td>     
                        <td>@Html.DisplayFor(modelItem => item.ConsignmentNumber)</td>
                        <td>@item.DateShipped.Value.ToShortDateString() </td>                    
                        <td>
                            <input type="button" class="btn btn-info btn-sm" onclick="RePrintSIMLabel('@item.VerserOrderID');" style="font-size:small;font-weight:500" value="PRINT">

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@*</div>*@
<style>
    .row {
        margin-left: -130px;
        margin-right: 175px;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

    <script src="~/Scripts/confirm.js"></script>
    <link href="~/Content/confirm.css" rel="stylesheet" />
    <script type="text/javascript">
                $(document).ready(function () {
                    $('#mainTable').DataTable();
                    $('.dataTables_filter').addClass('pull-right');
                });                 

        function RePrintSIMLabel(VerserOrderID) {
            var sliderURL = '@Url.Action("PrintOrderLabel", "Home")'
            $.ajax({
                type: "GET",
                url: sliderURL,
                data: { "VerserOrderID": VerserOrderID },
                success: function (data) {
                    var bytes = new Uint8Array(data); // pass your byte response to this constructor
                    var blob = new Blob([bytes], { type: "application/pdf" });// change resultByte to bytes
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = "myFileName.pdf";
                    var objFra = document.createElement('iframe'); 
                    objFra.style.visibility = "hidden";  
                    objFra.src = link;
                    document.body.appendChild(objFra);
                    objFra.contentWindow.focus();
                    objFra.contentWindow.print();  
                }
            });
        }
    </script>
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" rel="stylesheet">
