@using System.Linq;
@model IEnumerable<MintSerivce.Models.SKUStock>
@{
    ViewBag.Title = "StockAvailable";
}
<div class="container" style="width:100%; padding-top:15px">
    <ul class="nav nav-tabs" style="padding-top:15px;" id="myTab">
        <li class="active"><a data-toggle="tab" href="#SKUSTOCK">SKU STOCK</a></li>
        <li><a data-toggle="tab" href="#REPORTS">REPORTS</a></li>
    </ul>
    <div class="tab-content" style="border-width:thin;border-style:solid;border-color:gray;width:100%;">
        <Div id="SKUSTOCK" class="tab-pane fade in active" role="tabpanel">
            <div style="padding-top:5px;width:82%;">
                @using (Html.BeginForm("ExportStockToExcel", "Home", FormMethod.Post))
                {
                    <div align="right">
                        <button type="submit" value="ExportToExcel" class="btn btn-default btn-sm" name="submitButton">
                            <span class="glyphicon glyphicon-export">Export</span>
                        </button>
                    </div>
                }
            </div>
            <table class="table table-bordered" table-responsive table-hover" id="mainTable">
                <thead style="background-color:#959ca1;color:white">
                    <tr>
                        <th>SKU</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Colour</th>
                        <th>Capacity</th>
                        <th>Available</th>
                        <th>Buffer</th>
                        <th>On Hold</th>
                        <th>On Order</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.SKU)</td>
                            <td>@Html.DisplayFor(modelItem => item.Make)</td>
                            <td>@Html.DisplayFor(modelItem => item.Model)</td>
                            <td>@Html.DisplayFor(modelItem => item.Colour)</td>
                            <td>@Html.DisplayFor(modelItem => item.Capacity)</td>
                            <td>@Html.DisplayFor(modelItem => item.Count)</td>
                            <td>@Html.DisplayFor(modelItem => item.SKUBuffer)</td>
                            <td>@Html.DisplayFor(modelItem => item.OnHold)</td>
                            <td>@Html.DisplayFor(modelItem => item.OnOrder)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </Div>
        <Div id="REPORTS" class="tab-pane fade" role="tabpanel">

            @{
                Html.RenderAction("Reports", "Home");
            }
        </Div>
    </div>
</div>

<link href="~/Content/bootstrap-3.1.4.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<link href="~/Scripts/bootstrap-multiselect.css" rel="stylesheet" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css" rel="stylesheet">
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" rel="stylesheet">*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/datatables.min.js"></script>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#mainTable').DataTable();
        $('.dataTables_filter').addClass('pull-right');
    });
</script>


