<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -VERSER MINT SERVICE ORDER</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="text-align:left">
                    <img src="~/fonts/verserLogo.png" />
                </div>
               
                @*@Html.ActionLink("VERSER MINT SERVICE ORDERS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand"  } )*@
            </div>
            <div class="navbar-collapse collapse">

                 @if(Session["User"] != null)
                 {
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("ORDERS", "Index", "Home")</li>
                    <li>@Html.ActionLink("RE-ORDER", "Index", "ManualOrder")</li>
                    <li>@Html.ActionLink("SKU-STOCK", "StockAvailable", "Home")</li>
                    <li>@Html.ActionLink("DISPATCHES", "dispatchedorders", "Home")</li>
                    <li>@Html.ActionLink("CANCELLED", "CancelledOrders", "CancelledOrders")</li>
                    <li>@Html.ActionLink("RETURNED", "ReturnedOrders", "ReturnedOrders")</li>
                    <li>@Html.ActionLink("MANAGE", "index", "ManageOrders")</li>
                    <li style="text-align:right">@Html.ActionLink("LOGOUT", "Logout", "login")</li>

                    @*<li><a href="https://customers.verser.com.au/JMSGatewayAPI/OnlyVerserInternalUsersRegisterFormToMAuthtokens.html", new { target="_blank" }>REGISTER NEW USER</a> </li>*@

                </ul>
                 }

                @*<button type="button" class="btn btn-default btn-sm "  style="text-align:right">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </button>*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -VERSER TECHNOLOY LIFECYCLES  <a href="mailto:Support@verser.com.au?Subject=VerserMintServiceOrders%20Request" style="font-size:small"> Contact Support</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
