<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title -NUmobile Orders</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top" style="background-color:black; padding:0 10px;">

        <div class="navbar-header pull-left">
            <div id="LogoImage" style="float: left; padding-right: 20px">
                <img src="~/Images/verser.jpg" style="height:48px; width:140px; margin:0 15px;" />
            </div>
            @*@Html.ActionLink("VERSER MINT SERVICE ORDERS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand"  } )*@
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (Session["User"] != null)
                {
                    <li>@Html.ActionLink("OPEN ORDERS", "Index", "Home")</li>
                    <li>@Html.ActionLink("STOCKS", "StockAvailable", "Home")</li>
                    <li>@Html.ActionLink("DISPATCHED ORDERS", "dispatchedorders", "Home")</li>
                    <li>@Html.ActionLink("SIM ORDERS", "SimOrders", "Home")</li>
                    <li>@Html.ActionLink("CANCELLED ORDERS", "CancelledOrders", "CancelledOrders")</li>
                    <li>@Html.ActionLink("RETURNED ORDERS", "ReturnedOrders", "ReturnedOrders")</li>

                    @*<li><a href="https://customers.verser.com.au/JMSGatewayAPI/OnlyVerserInternalUsersRegisterFormToMAuthtokens.html", new { target="_blank" }>REGISTER NEW USER</a> </li>*@
                }
            </ul>

            <ul class="nav navbar-nav" style="float:right; margin-right:30px">
                @if (Session["User"] != null)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            @Session["User"].ToString()
                        </a>
                        <ul class="dropdown-menu" style="font-size:large;font-weight:800">
                            <li>@Html.ActionLink("RE-ORDERS", "Index", "ManualOrder", new { style = "padding:12px 20px" })</li>
                            <li>@Html.ActionLink("MANAGE ORDERS", "index", "ManageOrders", new { style = "padding:12px 20px" })</li>
                            <li>@Html.ActionLink("LOGOUT", "Logout", "login", new { style = "padding:12px 20px" })</li>
                        </ul>
                    </li>
                }
            </ul>

            @*<button type="button" class="btn btn-default btn-sm "  style="text-align:right">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </button>*@
        </div>

    </div>

    <div class="container-fluid">
        @RenderBody()

        @*<footer>
            <p>&copy; @DateTime.Now.Year -VERSER TECHNOLOY LIFECYCLES  <a href="mailto:Support@verser.com.au?Subject=VerserMintServiceOrders%20Request" style="font-size:small"> Contact Support</a></p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/CustomRequiredIf.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    .navbar-nav > li > a {
        color: white;
        font-family: sans-serif;
        font-weight: 600;
    }

        .navbar-nav > li > a:hover {
            background-color: darkorange !important;
            color: black;
        }

    a {
        color: gray;
    }

    .navbar-fixed-top {
        overflow:visible;
    }
</style>

