<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>@ViewBag.Title -NUmobile Orders</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top" style="background-color:black; padding:0 10px;">
        <div class="navbar-header pull-left">
            <a href="@Url.Action("Index", "Home")">
                <img class="" src="~/Images/Verser.jpg" style="height:50px; width:140px;" />
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <div class="col-md-8" style="height:50px; overflow:hidden;z-index:1040">
                <ul class="nav navbar-nav">
                    @if (Session["User"] != null)
                    {
                        <li>@Html.ActionLink("OPEN ORD", "Index", "Home")</li>
                        <li>@Html.ActionLink("STOCKS", "StockAvailable", "Home")</li>
                        <li>@Html.ActionLink("DISPATCHED ORD", "dispatchedorders", "Home")</li>
                        <li>@Html.ActionLink("SIM ORD", "SimOrders", "Home")</li>
                        <li>@Html.ActionLink("CANCELLED ORD", "CancelledOrders", "CancelledOrders")</li>
                        <li>@Html.ActionLink("RETURNED ORD", "ReturnedOrders", "ReturnedOrders")</li>
                    }
                </ul>
            </div>

            <ul class="nav navbar-nav" style="position:absolute !important;right:0 !important;z-index:1050;background-color:black">
                @if (Session["User"] != null)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            @Session["User"].ToString()
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("RE-ORD", "Index", "ManualOrder", null, new { style = "padding:12px 20px" })</li>
                            <li>@Html.ActionLink("MANAGE ORD", "index", "ManageOrders", null, new { style = "padding:12px 20px" })</li>
                            <li>@Html.ActionLink("LOGOUT", "Logout", "login", null, new { style = "padding:12px 20px" })</li>
                        </ul>
                    </li>
                }
            </ul>

            @*<button type="button" class="btn btn-default btn-sm "  style="text-align:right">
                <span class="glyphicon glyphicon-log-out"></span> Log out
            </button>*@
        </div>

    </div>

    <div class="container-fluid">
        @RenderBody()

        @*<footer>
            <p>&copy; @DateTime.Now.Year -VERSER TECHNOLOY LIFECYCLES  <a href="mailto:Support@verser.com.au?Subject=VerserMintServiceOrders%20Request" style="font-size:small"> Contact Support</a></p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/CustomRequiredIf.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    .navbar-nav > li > a {
        color: white;
        font-family: sans-serif;
        font-weight: 600;
    }

        .navbar-nav > li > a:hover {
            background-color: darkorange !important;
            color: black;
        }

    a {
        color: gray;
    }

    .navbar-fixed-top {
        overflow:visible;
    }
</style>

